<!DOCTYPE html>
<html lang="ko">
<head>
    <style>
        ul {
            list-style: none;
        }
        .title {
            font-weight: bold;
            font-size: large;
        }
        .container p, form, input {
            text-align: center;
        }
    </style>
    {% block style %}{% endblock %}
    <meta charset="UTF-8">
    <title>KSA 시간표</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <p>KSA 시간표 생성기</p>
        </div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>