{% extends 'base_generic.html' %}

{% block content %}
    <form method="post">
    {% csrf_token %}
    {% if id %}
        <p>ID: {{ id }}</p>
    {% endif %} added
    {{ form.lecture_data.errors }}
    {{ form.lecture_data.label }} <br>
    {{ form.lecture_data }} <br>
    <br>
    {{ form.links.label }} <br>
    {{ form.links }} <br>
    <br>
    <span>같은 형식으로 수업 데이터를 추가할 수 있습니다.</span><br>
    <span>변경할 것이 없으면 그대로 다운로드하면 됩니다.</span><br>
    <input type="submit" value="다운로드">
    </form>
{% endblock %}